@use './../../sass/variables.scss' as *;

.stayp{
    background-color: $dark_blue_mainbg;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
    gap: 10%;
    align-items: center;
    color: white;
    overflow: hidden;

    h1{
        margin-bottom: 1rem;
        width: 20vw;
    }
    p{
        max-width: 25vw;
        padding-bottom: 2rem;
    }
    a{
        color: hsl(176, 68%, 64%);

        &:hover{
            color: hsl(176, 59%, 58%);
        }
    }
        
}