@use './../../sass/variables.scss' as *;

.stayp{
    background-color: $dark_blue_mainbg;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    gap: 10%;
    align-items: center;
    color: white;
    overflow: hidden;

    h1{
        margin-bottom: 1rem;
        width: 20vw;
    }
    p{
        width: 25vw;
        padding-bottom: 2rem;
    }
    a{
        color: hsl(176, 68%, 64%);

        &:hover{
            color: hsl(176, 59%, 58%);
        }
    }
    
    @media screen and (max-width:668px) {
        justify-content: center;
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
        
        #img{
            width: 100%;
        }

        h1{
            padding-top: 1rem;
            text-align: center;
            width: 100vw;
            font-size: 1.2rem;
        }
        p{
            width: 90vw;
            font-size: 0.9rem;
            padding: 0 5% 5%;
        }
        
        a{
            margin-top: 1rem;
            padding-left: 5%;
        }
    }
}