@use '../../sass/variables.scss' as *;

.footer{
    background-color: $dark_blue_footer ;
    position: relative;
    padding: 5rem 9vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #loc{
        width: 27vw;
        padding-right: 5%;
    }

    &__content{
        margin-top: 18vh;
    }

   .flex{
    display: flex;
   }

   .column{
    flex-direction: column;
    gap: 1rem;
   }

    
   nav{
    padding-left: 8vw;
   }
   a{
        color: white;
        text-decoration: none;

        &:hover{
            color: hsl(176, 68%, 64%);            
        }
    }
    li{
        list-style: none;
        padding-left: 1.5rem;
        width: 7vw;
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }

    &__contacts{
        display: flex;
        padding-top: 2rem;
        padding-right: 8vw;
        

        img{
            padding-right: 1rem;
            padding-top: 2%;
            width: fit-content;
            object-fit: contain;
            align-self: flex-start;
        }
    }

    @media screen and (max-width: 668px) {
        padding-right: 0;
        padding-bottom: 0.6rem;
        
        #loc{
            width: 99%;
        }

        .contacts{
            padding-bottom: 5rem;
        }

        nav{
            padding: 0;
            justify-content: space-between;
        }
        li{
            padding-right: 6rem;
        }

        &__contacts{
            flex-direction: column;
            justify-content: center;


            p{
                width: 80%;
            }
        }
    }
}
