.feedCard{
    background-color: hsl(219, 30%, 18%);
    color: white;
    position: relative;
    z-index: 100;
    margin-top: 2.5rem;
    padding: 1.5rem;
    padding-top: 2rem;
    border-radius: 10px;
    max-width: 27%;
    box-shadow: rgba(26, 24, 24, 0.288) 10px 10px;

    img{
        width: 35px;
        border-radius: 50%;
        position: relative;
        object-fit: contain;
    }

    .profile{
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 5%;
        padding-top: 2rem;

        p{
            font-size: 0.7rem;
            color: rgba(236, 229, 229, 0.774);
        }
    }

    @media screen and (max-width:668px) {
        max-width: 90%;
    }
}