@use '../../sass/variables.scss' as *;

.header{
    display: flex;
    background-color: $dark_blue;
    padding: 4rem 8%;
    font-family: 'raleway';

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    ul{
        display: flex;
        gap: 50px;
    }
    
    li{
        color: rgb(206, 209, 212);
        list-style: none;
        cursor: pointer;
    }
    li:hover{
        color: hsl(176, 68%, 64%);
    }

    @media screen and (max-width: 668px) {
            padding: 4rem 0;
        
        img{
            width: 100px;
            margin-right: 5%;
            padding-left: 5%;
        }
        ul{
            gap: 10%;
            align-items: center;
        }
        li{
            width: 20vw;
        }
    }
}